.helpet-title{
    color:black;
    font-weight: bold;
}
.btn-login {
    background-color: #4DCA9D;
    color: white;
    padding-left:30px ;
    padding-right:30px ;

    border-radius: 14px;
}
.btn-login:hover {
        background-color: #5AE4B3;
        color: white;
}
.btn-register {
    background-color: #4DCA9D;
    color: white;
    padding-left:30px ;
    padding-right:30px ;
    border-radius: 14px;
}

.btn-register:hover {
    background-color: #5AE4B3;
    color: white;
}

.navbar-toggler{
    margin-top: 15px;
    outline: none;
    border-width: 5px;
    border-radius: 5px;
    border-color:#4DCA9D;
}
.navbar-toggler:focus {
    outline: none;
    box-shadow:none;
}

.navbar-toggler:hover{
    outline: none;
    border-width: 5px;
    border-radius: 5px;
    border-color: #5AE4B3;
}

@media only screen and (max-width: 768px) {
    .nav-menu{
        display: none;
    }
}

.logo-need-help{
    color: black;
}
.need-help{
    color: black;
}

.logo-hepet{
    color:black;
}

.helpet{
    color: black;
}
.cat{
    color: black;    
}

.cat:hover{
    color:#C4C4C4;
}

.dog{
    color: black;
}

.dog:hover{
    color:#C4C4C4;
}

